
Welcome to {{ title }}!
<canvas id="myCanvas" width="680px" height="500px">
</canvas>
<div><b>Time Remaining: <span id="time"></span></b></div>
<div><b>Total Score: <span id="scoreBoard"></span></b></div>
<button onClick="gameStartfunction()" style="width:80px; height: 30px"><b>Start</b></button>
<script src="./shape.ts"></script>
<script src="./container.ts"></script>

<script>
    var canvas = document.getElementById("myCanvas");
    var rectangleContainer = new RectangleContainer();
    var circleContainer = new CircleContainer();
    var recPiece = new Rectangle();
    var cirPiece = new Circle();
    var pieces = [recPiece, cirPiece];
    var containers = [rectangleContainer, circleContainer];

    function myMove(e) {
        onMouseMovement(e, function (newX, newY) {
            pieces.forEach(function (p) {
                p.updateOnDrag(newX, newY)
            });
            containers.concat(pieces).forEach(function (c) {
                c.restoreOnMove(newX, newY)
            });
        });
    }

    function myDown(e) {
        onMouseMovement(e, function (newX, newY) {
            pieces.forEach(function (dw) {
                dw.dragStart(newX, newY)
            });
        });
    }

    function myUp(e) {
        onMouseMovement(e, function (newX, newY) {
            containers.forEach(function (c) {
                c.getScore(newX, newY)
            });
        });
    }

    function onMouseMovement(event, callbackFn) {
        event.preventDefault();

        var newX = event.pageX - canvas.offsetLeft;
        var newY = event.pageY - canvas.offsetTop;
        callbackFn(newX, newY);
    }

    function startTimer(duration, display) {
        var start = Date.now();
        var diff;
        var minutes;
        var seconds;
        var mileSecondFactor = 1000;
        var secondFactor = 60;
        var minutesFactor = 60;
        var clock = setInterval(timer, mileSecondFactor);

        function timer() {
            diff = duration - (((Date.now() - start) / mileSecondFactor) | 0);
            minutes = parseInt(diff / minutesFactor);
            seconds = (diff % secondFactor) | 0;
            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;
            display.textContent = minutes + ":" + seconds;

            if (diff <= 0) {
                clearInterval(clock);
                canvas.removeEventListener("mousedown", myDown);
                canvas.removeEventListener("mousemove", myMove);
                canvas.removeEventListener("mouseup", myUp);
                pieces.forEach(function (p) {
                    p.endGame();
                });
            }
        }

        timer();
    }

    function gameStartfunction() {
        var oneMinutes = 30;
        var display = document.querySelector('#time');

        canvas.addEventListener("mousedown", myDown, false);
        canvas.addEventListener("mousemove", myMove, false);
        canvas.addEventListener("mouseup", myUp, false);
        startTimer(oneMinutes, display);
    }

</script>